.header__lang {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  gap: 18px;
  padding: 0;
  margin: 46px 0 0 0;
}

@media screen and (max-width: 768px) {
  .header__lang {
    margin-top: 30px;
  } 
}
