.header__lang-eng {
  max-width: 28px;
  height: 29px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .header__lang-eng {
    font-size: 18px;
    line-height: 20px;
  } 
}