.cover__subtitle {
  max-width: 360px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin: 0px;
}
@media screen and (max-width: 768px) {
  .cover__subtitle {
    max-width: 275px;
    font-size: 14px;
    line-height: 16px;
  }
}