.header__logo{
  max-width: 176px;
  height: 52px;
  margin: 28px 0px 0px;
}

@media  screen and (max-width: 767px) {
  .header__logo {
    max-width: 142px;
    min-height: 42px;
    margin-top: 16px;
  }
}