.place__text {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  color: #ffffff;
  margin: 0;
}

@media screen and (min-width: 768px) and ( max-width: 1024px) {
    .place__text {
      font-size: 16px;
      line-height: 26px;
    }
  }

  @media screen and (max-width: 768px) {
    .place__text {
        font-size: 16px;
        line-height: 26px;
        margin-right: 16px;
        margin-left: 16px;
    }
}