.footer__links {
  max-width: 465px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  text-align: left;
  list-style-type: none;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  gap: 18px;
}

@media screen and (max-width: 767px) {
    .footer__links {
      font-size: 24px;
      line-height: 24px;
      flex-direction: column;
      justify-content: space-between;
    }
  }