  .intro__text {
    max-width: 690px;
    text-align: left;
    color: #ffffff;
    padding-bottom: 33px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 163%;
    list-style: none;
    margin: 0;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {

    .intro__text {
        max-width: 100%;
    }
}