.place__website-link {
  font-family: 'Inter', 'Arial', sans-serif;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.place__website-link:hover {
  opacity: 0.8;
  transition: all 0.5s linear;
}