
.intro {
  align-self: flex-start;
  padding-left: 148px;
  padding-bottom: 92px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

  .intro {
      padding-left: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .intro {
      min-width: 208px;
      padding: 0 24px 88px;
  }
}

@media screen and (max-width: 767px) {

  .intro {
      min-width: 288px;
      padding: 0 16px 64px;
  }
}