.lead__subtitle{
  font-family: 'Inter', 'Arial', sans-serif;
  max-width: 640px;
  margin: 32px auto 64px;
  font-style: normal;  
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  display: inline;
  color: #FFFFFF;
}

@media screen and ( max-width: 1279px) {
  .lead__subtitle {
    margin-bottom: 56px;
    display: inline;
  }
}

@media screen and ( max-width: 767px) {
  .lead__subtitle {
    max-width: 288px;
    margin: 16px auto 40px;
    font-size: 16px;
    line-height: 20px;
  }
}