.lead__caption {
  margin: 8px 0px;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-align: left;
  align-self: flex-start;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and ( max-width: 1023px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and ( max-width: 767px) {
  .lead__caption {
    margin-left: 16px;
  }
}